h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
  padding-top: 5%;
  color: #FAF3F3;
}

h2 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat";
  font-weight: bold;
}

p {
  color: #8f8f8f;
}

#title {
  background-color: #A7BBC7;
}

#features {
  background-color: #A7BBC7;
}

.container-fluid {
  padding: 3% 15%;
}

body {
  font-family: "Montserrat";
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 3.5rem;
  font-weight: bold;
  color: #57837B;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: bolder;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 60%;
  text-align: center;
}

.space {
  text-align: center;
  position: relative;
}

.row {
  position: relative;
  text-align: center;
  color: white;
}

.hoo {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#features {
  background-image: url("lappy.jpg");
  padding: 0;
}

.feature-box {
  align-items: center;
}

.fab {
  color: #126E82;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.doggo {
  width: 10%;
  border-radius: 100%;
  margin: 2%;
}

#press {
  text-align: center;
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  padding: 2% 2% 5%;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 2%;
}

.carousel-item {
  padding: 7% 15%;
}

.techiee {
  width: 10%;
  margin-right: 5%;
}

.hi {
  padding-left: 5%;
  text-align: center;
}

.collapse:hover {
  color: black;
}